@import url('global.css');

.logo {
    width: 10vw;
}

header {
    display: flex; 
    align-items: center;
    padding: 0.5rem;
}

nav {
    display: inline-block;
}

nav a {
    margin: 0.2rem;
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
}

nav a, .logo {
    cursor: pointer;
}
 
/* Hero */
.hero img {
    width: 40vw;
    border: 6px solid #e4f1f1; 
    border-radius: 50%;
    grid-column: 2;
}



.hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}

.info {
    background: #514f4f; 
    height: 30vh;
    width: 100vw;
    grid-column: 1/3; 
    grid-row: 1/3;
}

.hero img {
    grid-row: 2/4;
}


.info {
    text-align: center;
    color: #e4f1f1;
}

.info h2 {
    margin-top: 1rem;
}

.abt {
    width: 85%;
    margin: auto;
}

.abt h3 {
    margin-bottom: 1rem;
}

/* Footer */
footer {
    background-color:#514f4f;
    color: #fff;
    line-height: 2em;
    margin-top: 20px;
    padding: 10px 0 0 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.ftr-container {
    display: flex;
    justify-content: center;
}

.button {
    width: 32px;
    height: 32px;
    color: #fff;
    margin: 0 10px;
}

/* For tablets */
@media (min-width: 640px) {
    .ftr-container, .copyright {
        width: 80%;
        margin: auto;
    }
}

/*for desktop*/
@media (min-width: 1008px) {
    .ftr-container {
        width: 60%;
        margin: auto;
        display: flex;
    }
    .copyright{
        width: 60%;
        margin: auto;
    }
    .ftr-socials, .ftr-nav {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0px;
    }
}
