@import url('global.css');
@import url('header-footer.css');

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin: auto 0; 
}

h1 {
    font-size: 55px;
}

/* Main */
main > img {
    width: clamp(3rem, 40vh, 200rem);

    margin: 2rem auto; 
    display: block;
}

/* Footer */
footer {
    margin-top: auto;
}


